Source: fbtft-hx8347d
Maintainer: Jianfeng Liu <liujianfeng1994@gmail.com>
Section: misc
Priority: optional
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               dh-exec,
               dh-sequence-dkms,
               lintian

Package: fbtft-hx8347d-dkms
Architecture: all
Section: misc
Priority: optional
Depends: ${misc:Depends}
Description: dkms sources for 320x240 panel TD-TNQV24-SBT240-012
